
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - TAO-OF-T</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="T Tirona provides online counseling and therapy services for individuals, couples and families." />
        <meta name="keywords" content="T Tirona, Tao, Tao of T, Therapist, Therapy, Counseling, Counselor, Psychotherapy, Psychotherapist, Marriage Counseling, Family Counseling, Family Therapy, Couples Counseling, Grief Counseling, Mental Health Care, Couples Therapy, Depression, Anxiety, Addiction, Substance Abuse, Relationship Counseling, Marriage and Family Therapy, Therapists, Counselors, Mental Health Counselor">
        <link href="~/Content/less/styles.less" rel="stylesheet/less" type="text/css" />
        <script src="~/Scripts/less-1.3.0.min.js" type="text/javascript"></script>

        @Styles.Render("~/Content/slideshow/css")
<!--        @Styles.Render("~/Content/fullcalendar/css") -->
<!--        @Styles.Render("~/Content/dialog/css") -->
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/less")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/taooft")
        @Scripts.Render("~/bundles/jqueryslideshow")
        @Scripts.Render("~/bundles/fullcalendar")
        @Scripts.Render("~/bundles/jqueryresize")
        
        @RenderSection("scripts", required: false)

        <script>
            $(document).ready(function () {
                var h = $("#page-content").height();

                var loc = window.location.href.toLocaleLowerCase();
                if (loc.indexOf("appointment") >= 0 || loc.indexOf("services") >= 0 || loc.indexOf("about") >= 0 || loc.indexOf("linksresources") >= 0 || loc.indexOf("policy") >= 0 || loc.indexOf("questions") >= 0 || loc.indexOf("schedule") >= 0) {
                    $("#left-bottom").addClass("left-bottom").height(h - 275);
                } else {
                    $("#left-bottom").addClass("left-bottom").height(h);
                }
            });
        </script>

    </head>
    
    <body style="margin:auto;">
        <div id="left">
            <section id="left-top">
                @Html.Partial("Logo")
                @Html.Partial("NavigationMenu")
            </section>
            <section id="left-bottom">
                @Html.Partial("_OnMyMindPartial")
            </section>
        </div>
        <div id="right">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        @Html.Partial("FooterPartial")

    </body>
</html>
