<footer>
    <nav>
        @Html.ActionLink("Home", "Index", "Home") |
        @Html.ActionLink("About Me", "AboutMe", "Home") |
        @Html.ActionLink("Services Provided", "Services", "Home") |
        @Html.ActionLink("Appointment Request", "Appointment", "Home") |
        @Html.ActionLink("Common Questions", "Questions", "Home") |
        @Html.ActionLink("Sign Up", "SignUp", "Home") |
        @Html.ActionLink("Links & Resources", "LinksResources", "Home")                    
    </nav>
</footer>
