<footer>
    <nav>
        @Html.ActionLink("Home", "Index", "Home") |
        @Html.ActionLink("About Me", "About", "Home") |
        @Html.ActionLink("Services Provided", "Services", "Home") |
        @Html.ActionLink("Privacy & Confidentiality", "Policy", "Home") |
        @Html.ActionLink("Make an Appointment", "Schedule", "Home") |
        @Html.ActionLink("Common Questions", "Questions", "Home") |
        @Html.ActionLink("Links & Resources", "LinksResources", "Home")                    
    </nav>
</footer>
