<nav id="navigationmenu">
    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Home") 
        </li>
        <li>
            @Html.ActionLink("About Me", "AboutMe", "Home")
        </li>
        <li>
            @Html.ActionLink("Services Provided", "Services", "Home")
        </li>
        <li>
            @Html.ActionLink("Appointment Request", "Appointment", "Home")
        </li>
        <li>
            @Html.ActionLink("Common Questions", "Questions", "Home") 
        </li>
        <li>
            @Html.ActionLink("Sign Up", "SignUp", "Home")
        </li>
        <li>
            @Html.ActionLink("Links & Resources", "LinksResources", "Home")
        </li>
    </ul>
</nav>