
<nav id="navigationmenu">

    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Home", new { @class = "navigationmenu" })
        </li>
        <li>
            @Html.ActionLink("About Me", "About", "Home", new { @class = "navigationmenu" })
        </li>
        <li>
            @Html.ActionLink("Services Provided", "Services", "Home", new { @class = "navigationmenu" })
        </li>
        <li>
            @Html.ActionLink("Privacy & Confidentiality", "Policy", "Home", new { @class = "navigationmenu" })
        </li>
        <li>
            @Html.ActionLink("Make an Appointment", "Schedule", "Home", new { @class = "navigationmenu" })
        </li>
        <li>
            @Html.ActionLink("Common Questions", "Questions", "Home", new { @class = "navigationmenu" })
        </li>
        <li>
            @Html.ActionLink("Links & Resources", "LinksResources", "Home", new { @class = "navigationmenu" })
        </li>
    </ul>
</nav>